.title {
    padding-left: var(--spacing-1);
    border-left: 4px solid var(--primary);
    font-size: var(--fs-title);
    font-weight: var(--fw-heading);
    color: var(--gray-1);
    margin-bottom: var(--spacing-2);
}

.subTitle {
    margin-bottom: var(--spacing-2);
    color: var(--gray-2);
}

.title {
    font-size: var(--fs-body);
}