.section1 {
    background-color: var(--primary);
    color: var(--white);
    font-size: var(--fs-caption);
    line-height: 1.3847em;
    padding: var(--spacing-2);
}

.link {
    display: inline-block;
    color: var(--white);
}

@media only screen and (min-width: 0px) and (max-width: 376px) {
    .link {
        font-size: var(--fs-caption);
    }
}